AI_CODE_PROJECT_NAME=learnloop
AI_CODE_WEB_PORT=8080
APP_DATABASE_NAME=learnloop
APP_DATABASE_USERNAME=learnloop
APP_DATABASE_PASSWORD=change-me
APP_DEMO_PASSWORD=change-me
APP_OPENAPI_ENABLED=true
APP_RUNNER_ENABLED=true
APP_RUNNER_BASE_URL=
APP_RUNNER_TOKEN=
APP_RUNNER_REQUIRE_LIMITS=true
